<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>css</title>
    <link rel="stylesheet" href="../static/FirstCSS.css">
</head>
<body>
    <h1>CSS intro</h1>
    <p>This is the begining</p>
    <ol>
        <h1 class="list1" id="important" >Things I Have To Do Today</h1>
        <li class="list1">download git</li>
        <li class="list1">signup to github</li>
        <li class="list1">lookup 187 by naamil</li>
    </ol>
    <a href="https://www.google.com" target="_blank">SEARCH IN GOOGLE </a>
    <a href="https://calendar.google.com/calendar/u/3/r/day" target="_self">SEARCH IN GOOGLECAL </a>
</body>
</html>
