<!DOCTYPE html>
<html>
    <head>
          <script></script>
          <link rel="stylesheet" href="style.css">
          <title>this is a reminder for html intro</title>
          <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    </head>
    <body>
            <h1>this is the title of the page</h1>
            <h3>hello world</h3>
            <h6>small</h6>
            <p>this is some random text</p>

            <ul>
                <li>num1 </li>
                <li><b>num2</b> </li>
            </ul>
            <ol class="important" style="color: green;">
                <li style="color: red;"> num1</li>
                <li>num2 </li>
                <li>num3 </li>
            </ol>
            <form action="url" method="get">

                <label for="username">your name</label><br>
                <input type="text" name="username" id="username"><br>
               
                <label for="userEmail">your email</label><br>
                <input type="email" name="userEmail" id="userEmail"><br>
               
                <label for="">choose your color</label><br>
                <input type="color" name="color" id="color"><br>
               
                <label for="">I agree</label><br>
                <input type="checkbox" name="" id=""><br>
               
                <a href="https://moodle.bgu.ac.il/moodle/pluginfile.php/3619068/mod_resource/content/1/2%20html.pdf" target="_blank">read terms</a><br>

                <img src="../STATIC/DRAGON.jpg" alt="image of a DRAGON" width="50%"><br>

                <input type="submit" value="submit"><br>
                <!--this is a comment in HTML-->

                
            </form>
    </body>
</html>