<!DOCTYPE html>
<html>
    <head>
        <script>

        </script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>hello world 187</title>
    
    </head>
    <body>
        <h1 id="demo">  Hello World 187</h1>
        <h2 id="demo2" class="important">Hello Nihulma 187</h2>
        <p>WEB is KANIS CHOD <br> EMET EMET <br> <b> BOLD!</b> </p>
        <!--comment-->
        <a href="https://calendar.google.com/calendar/u/3/r/day" target="_blank">google calendar</a>
        <img width="100%" src="../STATIC/kingair.jpg" alt="PIC OF kingair">
    </body>
</html>